*venv
*.env

.DS_Store
*.pyc

# LLM cache
*_cache

*.cfg
*.weights
*.names
*.data
*.pth
__pycache__/
*.pyc
*.bin

# mock data
*.jpg

# storage artifacts
*.pkl
*.json

!k8sbridge.y*ml
*.yaml
*.yml
##testing

*.crt