*venv
*.env

.DS_Store
*.pyc

# LLM cache
*_cache

*.cfg
*.weights
*.names
*.data
*.pth
__pycache__/
*.pyc
*.bin

# mock data
*.jpg

# storage artifacts
*.pkl
*.json

*.yaml
*.yml
!k8sbridge.y*ml
!.github/workflows/*.y*ml
#testing

# editor artifacts
.zed

# credentials
*.crt